<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client List App</title>
    <a href="index.html">Home</a>
    <a href="client.html">Client</a>
</head>
<body>
<table class="table table-credits">
    <tr>
        <th>Client firstName</th>
        <th>Client lastName</th>
        <th>Client thirdName</th>
        <th>Client telephoneNumber</th>
        <th>Client email</th>
        <th>Client serialPassport</th>
        <th>Client numberPassport</th>
    </tr>

    <tr th:each="clients: ${client}">
        <td th:text="${clients.firstName}"></td>
        <td th:text="${clients.lastName}"></td>
        <td th:text="${clients.thirdName}"></td>
        <td th:text="${clients.telephoneNumber}"></td>
        <td th:text="${clients.email}"></td>
        <td th:text="${clients.serialPassport}"></td>
        <td th:text="${clients.numberPassport}"></td>

    </tr>
</table>
</body>
</html>