<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credit List App</title>
    <a href="index.html">Home</a>
    <a href="credit.html">credit</a>
</head>
<body>
<table class="table table-credits">
    <tr>
        <th>Credit name</th>
        <th>Credit limit</th>
        <th>Credit validity</th>
        <th>Credit rate</th>
        <th>Credit start date</th>
    </tr>

    <tr th:each="credits: ${credit}">
        <td th:text="${credits.creditName}"></td>
        <td th:text="${credits.creditLimit}"></td>
        <td th:text="${credits.creditValidity}"></td>
        <td th:text="${credits.creditRate}"></td>
        <td th:text="${credits.creditStartDate}"></td>
    </tr>

</table>
</body>
</html>