<html>
<head> Clients</head>
<body>
<div>
    <form method="post">
        <input type="name" name="firstName" placeholder="firstName" required>
        <input type="name" name="lastName" placeholder="lastName" required>
        <input type="name" name="thirdName" placeholder="thirdName" required>
        <input type="tel" name="telephoneNumber" placeholder="telephoneNumber" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="number" name="serialPassport" placeholder="serialPassport" required>
        <input type="number" name="numberPassport" placeholder="numberPassport" required>
        <button type="submit">add client</button>
    </form>
</div>

<div>Clients</div>
<table class="table table-credits">
    <tr>
        <th>Client id</th>
        <th>Client firstName</th>
        <th>Client lastName</th>
        <th>Client thirdName</th>
        <th>Client telephoneNumber</th>
        <th>Client email</th>
        <th>Client serialPassport</th>
        <th>Client numberPassport</th>
    </tr>
    {{#client}}
    <tr>
        <td>{{id}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{thirdName}}</td>
        <td>{{telephoneNumber}}</td>
        <td>{{email}}</td>
        <td>{{serialPassport}}</td>
        <td>{{numberPassport}}</td>
    </tr>
    {{/client}}
    <div>
        <form method="post">
            <input type="number" name="creditName" placeholder="creditName" required>
            <input type="number" name="creditLimit" placeholder="creditLimit" required>
            <input type="number" name="creditValidity" placeholder="creditValidity" required>
            <input type="number" name="creditRate" placeholder="creditRate" required>
            <input type="date" name="creditStartDate" placeholder="creditStartDate" required>
            <input type="submit" onsubmit="sendForm(this)" value="Add credit">
        </form>
    </div>
</table>
<div>Credits</div>
<table class="table table-credits">
    <tr>
        <th>Credit creditName</th>
        <th>Credit creditLimit</th>
        <th>Credit creditValidity</th>
        <th>Credit creditRate</th>
        <th>Credit creditStartDate</th>
    </tr>
    {{#credit}}
    <tr>
        <td>{{id}}</td>
        <td>{{creditName}}</td>
        <td>{{creditLimit}}</td>
        <td>{{creditValidity}}</td>
        <td>{{creditRate}}</td>
        <td>{{creditStartDate}}</td>
    </tr>
    {{/credit}}
</table>
</body>
</html>


