<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>{{^isUpdate}}Create{{/isUpdate}}{{#isUpdate}}Update{{/isUpdate}}Client</h1>
    <div>
        <form action="{{isUpdate}}" method="post">
            <table class="table">
                <tbody>
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {{#isUpdate}}
                <tr>
                    <td>ID</td>
                    <td><div name="id">{{id}}</div></td>
                </tr>
                <tr>
                    <th>Client firstName</th>
                    <th>Client lastName</th>
                    <th>Client thirdName</th>
                    <th>Client telephoneNumber</th>
                    <th>Client email</th>
                    <th>Client serialPassport</th>
                    <th>Client numberPassport</th>
                </tr>
                {{/isUpdate}}
                <tr>
                    <th>Client</th>
                    <td><input type="text" name="firstName" value="{{#client.firstName}}{{client.firstName}}{{/client.firstName}}" required/></td>
                    <td><input type="text" name="lastName" value="{{#client.lastName}}{{client.lastName}}{{/client.lastName}}" required/></td>
                    <td><input type="text" name="thirdName" value="{{#client.thirdName}}{{client.thirdName}}{{/client.thirdName}}" required/></td>
                    <td><input type="tel" name="telephoneNumber" value="{{#client.telephoneNumber}}{{client.telephoneNumber}}{{/client.telephoneNumber}}" required/></td>
                    <td><input type="email" name="email" value="{{#client.email}}{{client.email}}{{/client.email}}" required/></td>
                    <td><input type="number" name="serialPassport" value="{{#client.serialPassport}}{{client.serialPassport}}{{/client.serialPassport}}" required/></td>
                    <td><input type="number" name="numberPassport" value="{{#client.numberPassport}}{{client.numberPassport}}{{/client.numberPassport}}" required/></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
</body>
</html>